
nav{
    background-color: #000;
    padding-left: 5em !important;
    padding-right: 5em !important;
}
nav ul{
    width: 8em;
}

.navbarTogglerDemo02{
    padding: 5em;
}

.fa-search{
    color: white;
}

.search-a{
    background: rgb(19, 18, 18) !important;
}

.container div nav{
    background: none;
}


.container div nav ul{
    width: 20em;
    display: flex;
    justify-content: center;
}


.container div nav ul li a{
	color: #000;
  	font-size: 20px;
  	font-family: 'Barlow', sans-serif;
  	letter-spacing: 1px;
  	transition: 0.6s;
}

.active {
	color: #022325;;
}

.container h1 {
	color: #000000;
	font-size: 4rem;
	font-family: 'Rajdhani', sans-serif;
	font-weight:bold;
    margin: auto;
    padding: 20px;
}
.carrousel{
    background-color: #000;
    max-height: 20em;
    min-height: 20em;
    overflow-y: hidden;
    display: flex ;
    justify-content: center;
}

.carrousel .carousel{  
    background-color: rgb(206, 30, 30);
    max-height: 20em;
    min-height: 20em;
    min-width: 100%;
    overflow: hidden;
}

.carrousel .carousel .carousel-item img{  
    background-color: rgb(206, 30, 30);
    max-height: 20em;
    min-height: 20em;
    min-width: 100%;
    overflow: hidden;
}
p,h5{
    color:#000;
}

.icono{
    font-size: 20px;
    color:grey;

}